<!-- filepath: /home/pedro/Documentos/github/portfolio/components/inicio.html -->
<section class="inicio container-fluid d-flex justify-content-evenly align-items-center" id="inicio">
    <img class="img-fluid" src="./images/setup3.png" alt="setup" />
    
    <div class="laptop-div d-flex justify-content-evenly align-items-center flex-column">
        <h1 class="laptopintroducao1">Eu sou<br></h1>
        <h1 class="laptopintroducao2">Pedro Vieira</h1>
        <h2 class="laptopintroducao3">Desenvolvedor <span class="back-end">Back-End</span></h2>
    </div>
    
    <div class="cellphone-div">
        <div class="intro-content">
            <img class="intro-image" src="./images/imagem_Pedro.jpg" alt="Pedro Vieira" />
            <div class="intro-text">
                <h1 class="textointroducao1">Eu sou</h1>
                <h1 class="textointroducao2">Pedro Vieira</h1>
                <h2 class="textointroducao3">Desenvolvedor <span class="back-end">Back-End</span></h2>
            </div>
        </div>
    </div>
</section>